# Ignore everything by default
*

# Allow specific files and directories

# Elixir dirs
!apps
!assets/
# Ignore specific directory again
assets/node_modules/
!bin
!config
!lib
!priv
!rel
!test
!otel

# Erlang dirs
!src
!include
!templates

# Build files
!mix.exs
!mix.lock

# Build environment
!.env.*
!.tool-versions

!.credo.exs
!.formatter.exs
!coveralls.json
!dialyzer-ignore
!.gitleaks.toml
!trivy.yaml
!brunch-config.js

!deploy/chisel/release

# Add files
!LICENSE
